@keyframes animate {

  0% {
    opacity: 0;
    scale: .85;
    background-image: url(../../images/cards/default-btn.png);
  }

  35% {
    opacity: 1;
    scale: .9;
    background-image: url(../../images/cards/professional-btn.png);
  }

  70% {
    opacity: 1;
    scale: .8;
    background-image: url(../../images/cards/default-btn.png);
  }

  100% {
    scale: .9;
    opacity: 0;
    background-image: url(../../images/cards/basic-btn.png);
  }

}

.backgroundAnimation {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
  border-radius: 0 30px 30px;
}

.backgroundAnimation__circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 150px;
  height: 100px;
  bottom: -20px;
  right: -20px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(../../images/cards/default-btn.png);
  z-index: 1;
  animation: animate 6s linear infinite;
  animation-fill-mode: both;
}

.backgroundAnimation__circles li:nth-child(1) {
  animation-delay: 5.7s;
}

.backgroundAnimation__circles li:nth-child(2) {
  right: 140px;
  animation-delay: 1s;
}

.backgroundAnimation__circles li:nth-child(3) {
  right: 300px;
  animation-delay: 2s;
}

.backgroundAnimation__circles li:nth-child(4) {
  right: 460px;
  animation-delay: 5s;
}

.backgroundAnimation__circles li:nth-child(5) {
  right: 60px;
  bottom: 5px;
  transform: rotate(180deg);
  animation-delay: .5s;
}

.backgroundAnimation__circles li:nth-child(6) {
  right: 220px;
  bottom: 5px;
  transform: rotate(180deg);
  animation-delay: 3s;
}

.backgroundAnimation__circles li:nth-child(7) {
  right: 380px;
  bottom: 5px;
  transform: rotate(180deg);
  animation-delay: 6.5s;
}

.backgroundAnimation__circles li:nth-child(8) {
  right: 60px;
  bottom: 105px;
  animation-delay: 1.5s;
}

.backgroundAnimation__circles li:nth-child(9) {
  right: 220px;
  bottom: 105px;
  animation-delay: 6s;
}

.backgroundAnimation__circles li:nth-child(10) {
  right: -90px;
  bottom: 105px;
  animation-delay: 7.5s;
}

.backgroundAnimation__circles li:nth-child(11) {
  bottom: 130px;
  transform: rotate(180deg);
  animation-delay: 8s;
}

.backgroundAnimation__circles li:nth-child(12) {
  right: 140px;
  bottom: 130px;
  transform: rotate(180deg);
  animation-delay: 4.5s;
}

.backgroundAnimation__circles li:nth-child(13) {
  right: 300px;
  bottom: 130px;
  transform: rotate(180deg);
  animation-delay: 2.5s;
}



@media (max-width: 750px) {
  .backgroundAnimation {
    bottom: 0;
    height: 100px;
  }
}

@media (max-width: 550px) {
  .backgroundAnimation {
    display: none;
  }
}