.catalog {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 390px);
    grid-gap: 60px 40px;
    justify-content: center;
}


@media (max-width: 950px) {
    .catalog {
        grid-template-columns: repeat(auto-fit, 390px);
        gap: 30px;
    }
}



@media (max-width: 500px) {
    .catalog {
        grid-template-columns: repeat(auto-fit, 290px);
        grid-gap: 20px;
    }
}