.main-link {
  width: 120px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: filter .3s ease-in-out, transform .3s ease-in-out;
}

.main-link:hover {
  filter: saturate(2);
  transform: scale(1.02);
}

.main-link_level_aero {
  background-image: url(../../images/icon-aero.svg);
}

.main-link_level_basic {
  background-image: url(../../images/icon-basic.svg);
}

.main-link_level_elementary {
  background-image: url(../../images/icon-elementary.svg);
}

.main-link_level_preliminary {
  background-image: url(../../images/icon-preliminary.svg);
}

.main-link_level_professional {
  background-image: url(../../images/icon-professional.svg);
}

.main-link_level_research {
  background-image: url(../../images/icon-research.svg);
}

@media (max-width: 1050px) {

  .main-link {
    width: 100px;
    height: 70px;
  }
}

@media (max-width: 800px) {

  .main-link {
    width: 60px;
    height: 50px;
  }
}

@media (max-width: 550px) {

  .main-link {
    width: 90px;
    height: 60px;
  }

}