.manual {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.manual__title {
  grid-area: title;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.manual__subtitle {
  grid-area: subtitle;
  text-align: left;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 16px;
  opacity: .8;
}

.manual__link {
  z-index: 5;
  width: 80%;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas: "img title"
    "img subtitle"
    "img text"
    "call call";
  grid-gap: 0px 40px;
  align-items: center;
  text-decoration: none;
  color: #3d3d3d;
  padding: 30px;
  border-radius: 30px;
  transition: color .25s linear;
  transition: background-color .25s linear, transform .25s linear;
  background-color: rgba(241, 240, 240, .8);
  margin-bottom: 20px;
}

.manual__link:hover {
  color: #000;
  background-color: rgba(241, 240, 240, .9);
  transform: scale(1.02, 1.02);
}

.manual__call {
  text-align: right;
  margin: 20px 0 0;
  padding: 0;
  font-size: 16px;
  opacity: .8;
  grid-area: call;
}

.manual__img {
  grid-area: img;
  width: 100px;
  justify-self: center;
  align-self: center;
}

.manual__about {
  grid-area: text;
  text-align: justify;
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-transform: initial;
}

@media (max-width: 900px) {

  .manual__title {
    font-size: 15px;
  }

  .manual__subtitle {
    font-size: 13px;
  }
}

@media (max-width: 700px) {

  .manual__about {
    display: none;
  }

  .manual__link {
    grid-template-rows: 1fr 1fr 0;
    width: 100%;
    grid-gap: 0px 20px;
    margin-bottom: 10px;
  }

  .manual__call {
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 550px) {

  .manual__title {
    font-size: 13px;
  }

  .manual__subtitle {
    font-size: 12px;
  }

  .manual__link {
    padding: 10px;
    grid-gap: 0px 10px;
  }

  .manual__call {
    text-align: center;
    font-size: 12px;
  }

  .manual__img {
    width: 80px;
  }
}