.about {
  display: grid;
  grid-template-areas: 'main-text main-text'
    'modules module-top'
    'modules module-bot';
  grid-template-rows: 200px auto auto;
  grid-template-columns: 40% auto;
  gap: 20px;
  box-sizing: border-box;
  width: 75%;
  min-height: 70vh;
}

.about__paragraph {
  padding: 30px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 30px;
  height: 100%;
  text-align: justify;
  font-size: 14px;
  background: rgba(241, 240, 240, 0.8);
  color: #3d3d3d;
}

.about__main-paragraph {
  grid-area: main-text;
  position: relative;
  z-index: 5;
  background: rgba(241, 240, 240, 0.8);
  border-radius: 30px;
}

.about__title {
  color: #fff;
}

.about__main-text {
  height: 200px;
  width: 60%;
  padding-left: 30px;
  font-size: 20px;
  position: relative;
  z-index: 5;
  background: none;
  text-shadow: #fff 0px 0px 5px;
}

.about__modules {
  grid-area: modules;
  background: rgba(9, 154, 215, .9);
  color: rgb(241, 240, 240)
}

@media (max-width: 1400px) {
  .about__main-text {
    font-size: 18px;
  }
}

@media (max-width: 1350px) {
  .about__main-text {
    width: 45%;
  }
}

@media (max-width: 1250px) {
  .about__main-text {
    font-size: 16px;
    line-height: 1.1;
  }
}

@media (max-width: 950px) {
  .about {
    width: 90%;
  }
}

@media (max-width: 750px) {
  .about__main-text {
    width: 100%;
    font-size: 18px;
  }

  .about {
    width: 90%;
  }
}

@media (max-width: 650px) {

  .about {
    grid-template-areas: 'main-text'
      'modules'
      'module-top'
      'module-bot';
    grid-template-columns: 100%;
    grid-template-rows: 200px auto auto auto;
  }
}

@media (max-width: 550px) {

  .about {
    grid-template-rows: 150px auto auto auto;
  }

  .about__main-text {
    height: 150px;
    font-size: 16px;
  }
}